<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Accueil">
    <div>
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sophrologie Hypnose Relaxation Méditation </mat-card-title>
            <mat-card-subtitle>À distance  par visio-conférence</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="assets/eau.png">
            <mat-card>
              <mat-card-header>
                <mat-card-title>« Par la vivance de ses sens et la respiration en pleine conscience »</mat-card-title>
                <mat-card-subtitle>C’est une approche douce de relaxation, de respiration en pleine conscience et de
                  visualisation sensorielle positive qui vont permettre de lâcher prise, soulager les tensions, d’apaiser
                  les troubles du corps et de l’esprit,et de cultiver sa source intérieure.<br> Elle s’adresse à tout public
                  et s’adapte aux besoins de chacun.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Les nombreuses méthodes d’accompagnement en sophrologie donnent les moyens de choisir celles qui répondent
                  à vos attentes : Sophrologie, sophro-hypnose, sophro-coaching, sophro-méditation, sophro-relaxation et
                  développement personnel.<br> Ces outils permettent d’atteindre ses objectifs, de gravir les obstacles et
                  de se dépasser dans l’épreuve.
                </p>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Prenez le temps de vous relaxer - séance en visio-conférence</mat-card-title>
            <mat-card-subtitle>Plus besoin de se déplacer, un grand avantage dans la gestion de son temps.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="parent">
              <div class="div1">
                <img class="home-pic" src="assets/home3.png">
              </div>
              <div class="div2">
                <img class="home-pic" src="assets/home4.png">
              </div>
              <div class="div3">
                <img class="home-pic" src="assets/home5.png">
              </div>
              <div class="div4">
                <img class="home-pic" src="assets/home6.png">
              </div>
              <div class="div5">
                <img class="home-pic" src="assets/home7.png">
              </div>
              <div class="div6">
                <img class="home-pic" src="assets/home8.png">
              </div>
              <div class="div7">
                <h2>Matériel à prévoir pour le participant:</h2>
                <ul>
                  <li>Un ordinateur</li>
                  <li>Un casque-micro</li>
                  <li>Au choix: Chaise de bureau pivotante en position arrière, canapé, fauteuil, tapis de sol
                    (le corps bien détendu, la tête bien posée et maintenue).<br>
                    L’important étant d’être confortablement installé à proximité de son écran et mettre les écouteurs. </li>
                </ul>
                <p>Pour la méditation, être position assise.<br>L’essentiel : avoir la colonne vertébrale bien droite,
                  et les pieds ou fesses qui touchent le sol.</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card id="last-item">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" headerPosition="below">
          <mat-tab label="Ecoute libre, prend soin de toi">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6CoMDwhfaew?start=24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </mat-tab>
          <mat-tab label="A votre tour maintenant">
            <p>Vous pouvez faire de chez vous une petite expérience de relaxation,prenez réellement le temps de vous installer confortablement sur votre chaise de bureau en   en position arrière, ou de votre fauteuil (corps bien détendu, la tête bien calée) et mettez les écouteurs. </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7Ilu033ydSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="C’est quoi ? Et pour qui?">
    <mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>C'est quoi?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            La sophrologie est une relaxation neuromusculaire approfondie qui va permettre de favoriser la libération
            des tensions du corps et de l’esprit. En d’autres termes, c’est un moyen d’accéder à un état de bien être
            intérieur, de sérénité, de grande détente basé sur des techniques de respiration, de décontraction
            musculaire et de visualisation positive.<br>Ces exercices et techniques relaxantes vont permettre de lâcher
            prise, de calmer les symptômes perturbateurs voire de les transformer en conscience.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>La Sophrologie pour qui ?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <strong>Pour tous les publics et dans tous les corps de métiers</strong>, dirigeants, indépendants,
            auto-entrepreneurs, employés, artistes, personnes au foyer, les seniors, dans sa vie quotidienne, pour son
            développement personnel, les jeunes et autres... Les différentes techniques de relaxation ont toutes leurs
            places dans le monde du travail et sa vie personnelle. Beaucoup de personnes se sentent en souffrance dans
            leur vie. Cela génère énormément d’anxiété qui peut entrainer une baisse de productivité, de motivation;
            ainsi qu’un mal être pouvant dégénérer en dépression voir en Burn out...
          </p>
          <p>
            <strong>Entreprises et établissement: </strong>
          </p>
        </mat-card-content>
      </mat-card>


      <mat-card-content>
        <h2>Ses bienfaits</h2>
        <p>Elles peuvent être pratiquées pour une multitude de raisons, et  proposent des réponses concrètes qui
          permettent de :</p>
        <ul>
          <li>Gérer ses émotions, son stress</li>
          <li>Apporter des solutions aux sentiments d’anxiété (ainsi qu’en période de crise sanitaire)</li>
          <li>Favoriser la qualité du sommeil</li>
          <li>Retrouver la confiance et l'estime de soi</li>
          <li>Prévenir le burn out</li>
          <li>Se préparer à un événement important (examens, mariage, permis de conduire, naissance, entretien
            professionnel, compétition sportive, Réunion professionnelles, parler en public, s’organiser, déménager,
            prendre sa vie en main, etc.)</li>
          <li>Gérer son Comportement, son addiction, sa phobie</li>
          <li>Permettre l’Accompagnement d’une dépression, d’une maladie chronique, d’un deuil, d’une prise en charge de
            la douleur etc...</li>
          <li>Aider à  retrouver son énergie physique et mentale pour une récupération plus efficace</li>
          <li>Rechercher la plénitude, la détente, l’harmonie avec soi-même et pour son développement personnel...</li>
          <li>Lâcher le poids du passé et de la souffrance</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-tab>
<!--  <mat-tab label="Pour qui?">-->
<!--    <mat-card>-->
<!--      <mat-card-title-group>-->
<!--        <mat-card-subtitle>-->
<!--          <p>C’est une approche douce qui s’adresse à tous les publics : <strong>adultes, seniors, enfants et jeunes.-->
<!--          </strong><br>Elle s’adapte pour les besoins et les attentes de chacun et peut être utilisée : <i>en entreprise,-->
<!--            en club, dans les maisons de retraite, des associations et bien d’autres institutions comme par exemple les-->
<!--            établissements de santé, l’éducation nationale etc...</i><br>Cela peut aussi profiter aux professions libérales,-->
<!--            aux auto-entrepreneurs, dans la vie quotidienne, pour le développement personnel etc...</p>-->
<!--        </mat-card-subtitle>-->
<!--      </mat-card-title-group>-->
<!--      <mat-card-content>-->
<!--        <h2>Les travailleurs</h2>-->
<!--        <p>La sophrologie a toute sa place dans le monde du travail. Beaucoup de métiers génèrent du stress dû à plusieurs-->
<!--          facteurs qui peuvent-être par exemple les conditions de travail.<br>Nous vivons à une époque où  beaucoup des-->
<!--          personnes se sentent en souffrance au travail et cela génère énormément d’anxiétés ; cela peut entrainer une-->
<!--          baisse de productivité, de motivation ainsi qu’un grand mal être pouvant dégénérer en dépression voir en burn-->
<!--          out..</p>-->
<!--        <h2>Entreprises et établissements</h2>-->
<!--        <p>Les dirigeants d’une structure peuvent faire appel à un sophrologue pour favoriser le prendre soins de son-->
<!--          personnel soit par le biais de leur comité d’entreprise  soit en participant aux frais des séances-->
<!--          (<i>collectives ou individuelles</i>) de leurs salariés ou simplement en communiquant l’information à leurs-->
<!--          employés intéressés afin qu’ils organisent eux même leur programme avec le sophrologue  en fonction de leurs-->
<!--          besoins.<br>On peut utiliser la sophrologie comme prévention aux risques psychosociaux mais aussi pour le-->
<!--          développement du bien être des salariés.<br>Ce service pourra s’adresser à tous les travailleurs dans tous les-->
<!--          territoires Français  et Outre-mer.<br>C’est un outil de performance et d’amélioration de la qualité de vie au-->
<!--          travail.</p>-->
<!--        <h2>Dans sa vie quotidienne</h2>-->
<!--        <p>La sophrologie  apporte les moyens et des solutions précieuses afin de mieux gérer son quotidien, être dans-->
<!--          l’action, s’organiser et prendre sa vie en main.<br>Cela peut davantage vous préparer à des évènements comme :-->
<!--          le Mariage, la Naissance, un Déménagements, des examens, animation d’une réunion, s’exprimer en Public,-->
<!--          améliorer ses performances sportives etc...</p>-->
<!--        <h2>Dans son développement personnel</h2>-->
<!--        <p>La sophro-hypnose (<i>voir les infos dans la rubrique «  que choisir et développement personnel  pour la-->
<!--          Sophro-hypnose »</i>)<br>Cette technique va permettre d’aller à la rencontre de soi pour un travail de fond;-->
<!--          chercher ses ressources intérieures, se connaitre davantage dans les profondeurs de son être ;  s’aider à se-->
<!--          trouver ou se retrouver en étant en communion avec soi-même.</p>-->
<!--        <h2>Dans le bien être du corps et de l'esprit</h2>-->
<!--        <p>Les différentes méthodes d’accompagnement en sophrologie, en sophro-hypnose, en sophro-coaching, et en-->
<!--          méditation, vont permettre de soulager les tensions et troubles du corps et de l’esprit, d’aller vers l’objectif-->
<!--          de son projet de vie pour son mieux être afin de gravir les obstacles et se dépasser dans l’épreuve-->
<!--          (<i> voir en détail  ces différentes méthodes dans la rubrique « que choisir et développement personnel »</i>)</p>-->
<!--        <h2>Les seniors</h2>-->
<!--        <p>Ils souhaitent s’épanouir, maintenir une vie sociale, être en harmonie avec eux-mêmes. La pratique de la-->
<!--          sophrologie va leur permettre de mieux vieillir  et en prévention de préserver leur état physique et-->
<!--          psychologique en prenant soin d’eux.</p>-->
<!--        <h2>Les enfants</h2>-->
<!--        <p>L'approche de la sophrologie sera différente et plus ludique dans l’accompagnement de la gestion de leurs-->
<!--          émotions, de leur énergie, de  leur concentration et de leur comportement. </p>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-tab>-->
  <mat-tab label="Liste des thématiques proposées">
    <mat-card>
      <mat-card-title-group>
        <mat-card-subtitle>
          Certaines thématique pourront se pratiquer en groupe et d’autres seront plus propices en individuel.<br>
          Voici une liste qui n’est pas exhaustive :
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <mat-grid-tile-header>
              En Individuel ou en Groupe
            </mat-grid-tile-header>
            <ul>
              <li>Gestion du stress</li>
              <li>Gestion de ses émotions</li>
              <li>Gérer ses peurs</li>
              <li>Gérer ses douleurs</li>
              <li>Améliorer la confiance en Soi</li>
              <li>Valoriser l’estime de soi</li>
              <li>Accentuer la Relaxation / la détente</li>
              <li>Savoir Lâcher Prise</li>
              <li>Trouble du Sommeil (retrouver la qualité de votre sommeil)</li>
              <li>Amplifier son Mieux-Être</li>
              <li>Gérer et Transformer son mal être</li>
              <li>Se libérer l’esprit de ses pensées envahissantes</li>
              <li>Se Préparer à un événement</li>
              <li>Performance Sportive</li>
              <li>Ancrer la volonté en soi</li>
              <li>Augmenter Le courage en soi</li>
              <li>Développer sa créativité, ses capacités</li>
              <li>Prendre sa vie en main et s’organiser</li>
              <li>Développement personnel, communiquer avec son être intérieur</li>
              <li>Améliorer sa concentration</li>
              <li>Diminuer ses croyances limitantes</li>
            </ul>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-grid-tile-header>
              En Individuel
            </mat-grid-tile-header>
            <ul>
              <li>Se libérer de ses addictions</li>
              <li>Se libérer de ses Phobies</li>
              <li>Gérer  son Poids</li>
              <li>Digérer ses traumatismes</li>
              <li>Faire son Deuil</li>
              <li>Gérer une séparation</li>
              <li>Gérer sa fibromyalgie</li>
              <li>Gérer ses psoriasis</li>
            </ul>
          </mat-grid-tile>

        </mat-grid-list>

      </mat-card-content>
    </mat-card>
  </mat-tab>
<!--  <mat-tab label="Petit historique de la sophrologie">-->
<!--    <mat-card>-->
<!--      <mat-card-title-group>-->
<!--        <mat-card-subtitle>-->
<!--          <p>Etymologiquement, sophrologie veut dire « étude d’harmonisation de la conscience »<br>La sophrologie  est-->
<!--            créée en 1960 par Alfonso Caycedo (1932-2017), neuropsychiatre espagnol d’origine colombienne.<br>(<i>A-->
<!--              l’origine, ce terme désignait les techniques d’hypnose utilisées en milieu hospitalier par les psychiatres.-->
<!--              Cette méthode permettait aux patients de prendre conscience de leurs états et de les rendre acteurs dans-->
<!--              leur traitement</i>)-->
<!--          </p>-->
<!--        </mat-card-subtitle>-->
<!--      </mat-card-title-group>-->
<!--      <mat-card-content>-->
<!--        <p>En 1967 apparait d’autres techniques qui viennent enrichir les bases hypnotiques de la sophrologie :</p>-->
<!--        <ul>-->
<!--          <li>méthode Coué (<i>pensée positive</i>)</li>-->
<!--          <li>relaxation progressive de Jacobson (<i>relâchement des tensions musculaires</i>)</li>-->
<!--          <li>le  training autogène de Schultz (<i>autorelaxation par la suggestion</i>)</li>-->
<!--          <li>la phénoménologie (<i>apprentissage du non jugement</i>)</li>-->
<!--          <li>le yoga (<i>stimulation de la respiration et relâchement musculaire</i>)</li>-->
<!--          <li>le zen (<i>pratique de la méditation</i>)</li>-->
<!--        </ul>-->
<!--        <p>En 1988, Alfonso Caycedo  continue de développer la sophrologie selon une optique philosophique, voire-->
<!--          spirituelle. Il dépose alors la marque «<strong>sophrologie caycédienne</strong>» et crée plus tard 8 degrés-->
<!--          supplémentaires.</p>-->
<!--        <p>Les quatre premiers degrés de la méthode sont :</p>-->
<!--        <ul>-->
<!--          <li>1er degré : écouter ses ressentis, la perception de son corps et améliorer sa concentration ici et maintenant</li>-->
<!--          <li>2ème degré : Renforcer l’image de soi, s’observer et se projeter dans des situations futures</li>-->
<!--          <li>3ème degré : initier à la méditation, réactiver ses ressources passées et définir sa place</li>-->
<!--          <li>4ème degré : révéler les capacités et les valeurs existentielles de l’être</li>-->
<!--        </ul>-->
<!--        <p>Un grand nombre de praticiens utilisent ces quatre degrés et leurs exercices dans leur cabinet.<br>-->
<!--          <strong>En 1985 une voie nouvelle La sophrologie va se segmenter en deux grands courants par des visions-->
<!--            différentes</strong></p>-->
<!--        <ul>-->
<!--          <li><strong>1re courant </strong>: La sophrologie caycédienne, de la relaxation dynamique à objectif-->
<!--            philosophique, voire spirituelle, basée essentiellement sur les douze degrés; (degrés 5-12)-->
<!--            <i>développer la conscience en sélectionnant le vécu positif, qui s'établit sur le vécu</i>.</li>-->
<!--          <li><strong>2eme courant </strong>: La sophrologie non-caycédienne à objectif thérapeutique (degrés 1 à 4),-->
<!--            initié par Jean-Pierre HUBERT. Il met en place les données de base de la sophrologie analytique, en-->
<!--            s’appuyant sur les recherches de Sigmund FREUD, Carl Gustav JUNG, et Milton ERICKSON.</li>-->
<!--        </ul>-->
<!--        <p>Toutes ces méthodes ont fait émerger des développements thérapeutiques très complémentaires à la sophrologie-->
<!--          caycédienne.<br> D’autre part, La Sophrologie ne cesse de se développer et évolue dans plusieurs directions;-->
<!--          elle est enfin reconnue comme une méthode à part entière avec le remboursement des séances par de plus en plus-->
<!--          de mutuelles.</p>-->
<!--        <h3>Chaque sophrologue amène sa touche, son empreinte dans la manière de faire et le faire savoir.</h3>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-tab>-->
  <mat-tab label="Ses Bienfaits"></mat-tab>
  <mat-tab label="Tableau Récapitulatif des Choix"></mat-tab>
  <mat-tab label="Qui suis-je?">
    <mat-card>
      <mat-card-title-group>
        <mat-card-subtitle>
          <strong>Je suis Sophrologue certifiée au RNCP et Relaxologue & Praticienne en Hypnose
            (<i>méthode Ericksonienne</i>) Coach en Méditation et accompagne au Développement personnel.</strong>

          <p>Nous sommes à une époque où l’expansion des thérapeutes a émergé et fleuri dans notre société entre l’offre
            et la demande. En effet nous souhaitons vivre le bonheur, se sentir mieux dans notre corps et notre esprit,
            ce fait est légitime. Parfois la vie nous met à rude épreuve et l’émergence de ces différentes thérapies
            proposées est une grande chance, pour prendre soin de soi et de son développement personnel.<br>
            Toutes ces thérapies existantes permettent de trouver celle qui pourrait vous correspondre pour faire votre choix.
            Nous sommes tous singuliers et à des niveaux de conscience multiple, ainsi une méthode pourra s’accorder à vos
            besoins plutôt qu’une autre et pourra faire toute la différence.
            De ce fait, laissez-vous guider par votre intuition, en laissant parler votre cœur.<br>
            Ce qui entrera en résonnance avec votre être intérieur permettra de faire le bon choix et répondra au mieux
            à vos attentes.<br>
            Alors posez-vous la question : Quel a été votre ressenti ?
          </p>
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <h2>Présentation</h2>
        <p>Mon parcours professionnel, mes expériences de vies, mes épreuves personnelles m’ont conduit inévitablement
          vers mon être intérieur. Après plus de 38 ans dans l’animation socio-culturelle la vie m’a conduite vers un
          changement d’orientation pour être en phase avec moi-même. </p>
        <h2>Mon parcours</h2>
        <p>Dans l’animation socio-culturelle depuis plus de 38 ans, j’ai occupé des postes de management d’équipes,
          d’animation pour différents publics (<i>enfants, adolescents, adultes, séniors</i>) de direction, de
          coordinatrice mais aussi de formatrice d’animateurs, de directeurs et de jeunes en insertion professionnelle
          dans les métiers d’animation.<br> C’est une profession intéressante qui a eu sa place. J’ai  travaillé  en
          majeure partie sur le terrain qui m’obligeait à m’adapter souvent à diverses situations. C’est un métier
          stressant qui demande beaucoup d’investissement car il faut répondre aux attentes, aux urgences, savoir
          anticiper et sans cesse se remettre en question. Ces expériences m’ont permis d’acquérir le savoir d’organiser,
          le changement de rôle ou de fonction avec souplesse.<br> Parfois un autre stress s’ajoutait car je devais
          travailler avec des personnes contraires à mes valeurs de vie de par leur comportement ou  manières d’agir.
          Sans parler des conditions de travail parfois précaires.<br>Cependant ma priorité principale a toujours été la
          recherche du bien-être de chacun que ce soit dans la gestion de mes équipes ou dans le choix des ateliers pour
          le public. Il a toujours été important pour moi que chacun trouve sa place et s’épanouisse dans le respect.<br>
          <strong>Au fur et à mesure de mes expériences de vie, de mes épreuves et de mes envies, mes priorités changent
            et l’essentiel n’est plus le même.</strong><br>Depuis très jeune et selon les périodes de ma vie je me suis
          toujours intéressée au développement personnel, à la spiritualité, à la médecine douce, au milieu artistique,
          à ma quête de vérité...<br>Cependant c’est en 2009 que je me suis accordée d’allée plus loin sur mes recherches
          spirituelles, mes lectures, la connaissance de soi, plus seulement de façon théorique mais en passant à l’action.<br>
          <strong>L’année 2009</strong> fut pour moi une année importante: En allant dans un salon Bien être, j’ai acheté
          un appareil qui permettait d’écouter des CD d’auto- hypnose qui actionnait en même temps un jeu de lumière grâce
          à des lunettes.<br> Cette approche était une façon de lâcher prise en écoutant les audios, Cela me détendait
          tellement que je ressentais un vrai réconfort. De ce fait, je me suis fait tout un programme durant quelques
          mois, car il y avait des grandes blessures en moi que je souhaitais guérir.<br>
          Cependant je pris conscience que cela n’était pas suffisant pour un vrai travail de fond.<br>
          Je me suis donc inscrite à un stage de formation Hypnothérapie de la méthode Ericksonienne, au début pour
          soigner mon être intérieur mais très vite mon objectif a évolué : je voulais aider les autres.<br>
          Les premières graines d’un changement en moi étaient en cours, je découvrais le bien- être du corps et de
          l’esprit dans les profondeurs de mon être en lâchant prise.<br>
          Cette expérience, avec le recul, m’a préparé à vivre d’autres grandes transformations spirituelles qui m’ont
          ouvert d’autres horizons en modifiant la manière de regarder et d’appréhender le monde.<br>
          Après cette formation, je fis de l’hypnothérapie dans mon cercle de connaissance, et parfois je me faisais des
          séances d’autohypnose.<br>
          Néanmoins je continuais à travailler dans les métiers de l’animation  socio-culturelle avec beaucoup plus de
          détachement, en poursuivant en parallèle mon développement personnel. J’accordais dorénavant une plus grande
          place à mes recherches spirituelles m’amenant à faire beaucoup de déplacement en France et à l’étranger pour
          suivre des séminaires.<br>
          Mes postes en direction me prenaient tout mon temps et je sentais que ma motivation pour ce métier n’était
          plus en phase avec mes aspirations. Je souhaitais faire une reconversion professionnelle afin de poursuivre
          mes formations sur le Bien -être et compléter ma formation d’hypnothérapie avec la sophrologie.
          En aout 2016, suite  à un accident (Tibia et Péroné cassés) et une intervention chirurgicale j’ai dû cesser
          le travail durant 6 mois avec une reprise en mi-temps thérapeutique qui m’a fait perdre mon emploi.
          Les épreuves n’arrivent jamais par hasard. C’est comme si je devais stopper ce travail afin de m’orienter
          d’avantage vers mes inspirations profondes, mes vraies valeurs, afin de changer de cap.<br>
          Cependant après cet accident j’ai eu beaucoup de séquelles et de douleurs qu’il a fallu surmonter durant une
          longue période de trois ans. Et d’autres problèmes ont nécessité une nouvelle intervention chirurgicale.
          <br>Bref  durant cette période de souffrance je n’étais pas vraiment disposée à poursuivre une formation.
          En 2019 je m’inscrivis  malgré tout à la formation en sophrologie que j’ai suivi seulement en 2020 après une
          grande volonté et détermination car la motivation n’était plus là.
          Le confinement me privant de volontaires pour ma pratique, je décide d’expérimenter sur moi-même. J’ai fait un
          véritable travail d’introspection et vécu des expériences incroyables. J’ai pu réaliser la 2eme partie de ma
          pratique, en visio-conférences sur des volontaires.<br>
          Mon cursus d’étude m’a permis de découvrir  de nouvelles techniques de respiration que je me suis appropriées.<br>
          Je me suis complément réoxygéné le corps et l’esprit et j’ai pu ressenti les effets  thérapeutiques : Plus de
          douleurs aux pieds, plus de maux de tête etc... <br>
          Et au fils de mes expériences entre 2020 et 2022 je mis  au point la sophro-méditation que j’ai nommé « respire
          avec les vertus » ainsi que le développement personnel par la pratique de la sophro-hypnose que j’ai nommé
          « communique avec ton être intérieur »  en plus du programme de sophrologie.<br>
          En mai 2021 je me casse le genou avec arrachement des ligaments, je suis en arrêt pendant une longue période;
          mais cette fois, même si mes déplacements et mouvements sont  limités, je gère mieux les douleurs qui ne sont
          plus un handicap (Toutefois, j’ai conscience qu’il faut laisser au temps, le temps de faire son travail de
          réparation des os pour se solidifier); <br>
          Je continue malgré tout à finaliser mon projet comme si ces mondes subtils me laissaient le temps de terminer.
          Si je vous parle de ces épreuves,  c’est qu’elles m’ont amenées à rechercher des techniques pour être en
          contact et me réconcilier avec mon être intérieur et je souhaite à mon tour vous partager ces différentes méthodes.

        </p>
      </mat-card-content>

    </mat-card>
  </mat-tab>
</mat-tab-group>
